<div class = "container home-sections d-flex flex-row justify-content-center align-items-center">
  <div class = "images-section pt-3 d-nome d-lg-block">
  </div>
  <div class = "login-section pt-3">
    <div class = "card text-center pt-3" style="width: 23rem;">
      <%= image_tag 'logo.png', class: "card-img-top"%>
    </div>
  </div>
</div>
